@page
@model RemoteHub.Pages.CRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].ProfilePicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Resume) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePicUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ResumeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ResumeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ResumeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
