@page 
@model RemoteHub.Pages.Resume.ViewModel
@{
    ViewData["Title"] = @Model.resume.FirstName + " " + @Model.resume.LastName + " Resume";
}
@if (TempData["NewAlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["NewAlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
    </div>
}
@if(Model.resume.ProfilePicUrl != null)
{
    <img src="@Model.resume.ProfilePicUrl" width="150" height="180" /><br />
}
<h3>Full Name: @Model.resume.FirstName @Model.resume.LastName</h3>
<small>Gender: @Model.resume.Gender</small>
<br />
<small>Nationality: @Model.resume.Nationality</small>
<br />
@if (Model.resume.BirthDate != null)
{
    <small>Birthday: @Model.resume.BirthDate?.ToString("yyyy-MM-dd")</small>
    <br />
}
<b>Email:</b> @Model.resume.Email
<br />
@if (Model.resume.PhoneNumber != null)
{
    <small>Phone Number: @Model.resume.PhoneNumber.</small>
    <br />
}
<b>Skills:</b>
<ol>
@foreach(var skill in Model.resume.skills) 
{
    <li>@skill.SkillName</li>
}
</ol>
<div>
    <a class="link-secondary" asp-page="Edit" asp-route-id="@Model.resume?.ResumeId">Edit</a> |
    <a class="link-success" asp-page="./Download" asp-route-id="@Model.resume?.ResumeId">Download</a> |
    <a class="link-secondary" asp-page="ViewAll">Back to List</a>
</div>