@page "{ResumeId}"
@model RemoteHub.Pages.Resume.ViewModel
@{
}
<img src="@Model.resume.ProfilePicUrl" width="150" height="180" />
<h3>Full Name: @Model.resume.FirstName @Model.resume.LastName</h3>
<small>Gender: @Model.resume.Gender</small>
<br />
<small>Nationality: @Model.resume.Nationality</small>
<br />
<small>Birthday: @Model.resume.BirthDate?.ToString("yyyy-MM-dd")</small>
<br />
<b>Email:</b> @Model.resume.Email
<br />
<small>Phone Number: @Model.resume.PhoneNumber.</small>
<br />
<b>Skills:</b>
<ol>
@foreach(var skill in Model.resume.skills) 
{
    <li>@skill.SkillName</li>
}
</ol>